worker_s3ceq
*.o
__pycache__/
*.pyc
*.pyo
checkpoint_local.json
wg_state.json
solutions_local.txt
solutions_index.json
worker_progress.log
local_search.log
work_generator.log
assimilator.log
validator.log
_tmp/
*.log
/download/
/upload/
